/* .footer-section {
  display: grid;
  grid-template-columns: 1fr 15fr;
  row-gap: 2rem;
}

.print-btn {
  width: 100px;
  height: 30px;
  font-size: 1.2rem;
  margin-top: 2em;
  border: 0;
  background: var(--primary-100);
  border-radius: var(--borderRadius);
  background: transparent;
  border-color: transparent;
  width: 50px;
  height: 40px;
  font-weight: 700;
  font-size: 1.25rem;
  color: var(--primary-500);
  transition: var(--transition);
  border-radius: var(--borderRadius);
  cursor: pointer;
}
.print-btn:hover {
  background: var(--primary-500);
  color: var(--white);
} */
