.item {
    min-height: 10rem;
    min-width: 30rem;
    padding: 10px;
}

.item img{
    width: 100%;
    /* height: 100%; */
    border-radius: 2rem;
    pointer-events: none;
}

.carousel-container{
    background-color: #212529;
}

.inner-carousel{
    display: flex;
}
.carousel{
    margin: 0 15%;
    padding: 5em 0;
    cursor: grab;
    overflow: hidden;
    border-radius: 5px;
}
