/* .nav-link {
  color: #102a43;
  font-size: 1.25rem;
  font-weight: 500;
}
.nav-link:hover {
  color: rgb(199, 106, 0);
} */

.logo {
  max-width: 200px;
}
.navbar-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 2rem;
  background-color: #fff;
  color: #fff;
}
.nav .nav-link {
  margin: 0 1rem;
  color: #000;
  text-decoration: none;
}
.navbar-section .nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: #050a30;
  display: none;
  font-size: 2rem;
}
@media only screen and (max-width: 1000px) {
  .nav .nav-link {
    margin: 0 0rem;
  }
}

@media only screen and (max-width: 850px) {
  .navbar-section .nav-btn {
    display: block;
  }

  .navbar-section .nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0)
    );
    backdrop-filter: blur(10px);
    transition: 1s;
    transform: translateY(-100vh);
    z-index: 100;
  }
  .navbar-section .responsive_nav {
    transform: none;
  }

  .nav .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }
  .nav .nav-link {
    font-weight: 700;
  }
}
