.tracking-container {
  min-height: 30em;
  margin-bottom: 1em;
}
.tracking-form {
  width: 50%;
  margin: 10em auto;
  margin-bottom: 0;
}

.track-info {
  margin: 5em;
}

@media screen and (max-width: 767px) {
  .tracking-container {
    min-height: 0;
    margin-bottom: 1em;
  }

  .tracking-form {
    width: 90%;
  }
}
@media screen and (max-width: 1119px) {
  /* .tracking-container {
    height: 100vh;
  } */
}
@media screen and (max-width: 1280px) {
  .footer-remargin {
    margin-top: 3em;
  }
}
